<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><?= $title ?></title>
    <link rel="stylesheet" href="../public/css/app.css" type="text/css">
</head>
<body>
    <header id="main_header" class="container">
        <div class="top";">
            <h1>The Legendary <br> Bank</h1>
        </div>
        <div>
       <h2>Labas <?= $vardas ?> </h2>
        </div>
    </header>
    <div class="main_body">
        <h1>N E R A S T A</h1>
    </div>
    <footer class="main_footer">
        <div class="bootom_footer">
            <h1>Money often costs too much.</h1>
        </div>
    </footer>
</body>
</html>